body {
  background-color: rgb(245, 245, 245);
}
.contain {
  width: 100%;
  height: 100%;
}
.box {
  width: 600px;
  height: 550px;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 20px;
  margin: 150px auto;
}

.logout-link-box {
  width: 100%;
  height: 30px;
  /* border: 1px solid black; */
  text-align: right;
  margin-bottom: 10px;
}

.logout-link {
  font-size: 18px;
  color: gray;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.logout-link:hover {
  transition: all 0.5s ease-in-out;
  font-size: 21px;
  color: black;
}

table {
  width: 100%;
  border: 2px solid black;
}

tr,
th,
td {
  border: 1px solid black;
}

.column {
  padding: 8px;
  width: 15%;
}

.row {
  width: 85%;
}

.row input {
  padding: 7px;
  border: none;
  width: 96%;
  background-color: rgb(245, 245, 245);
  outline: none;
}

.content {
  width: 100%;
  height: 300px;
  min-height: 300px;
}

.content textarea {
  width: 99%;
  min-height: 302px;
  border: none;
  resize: none;
  background-color: rgb(245, 245, 245);
  outline: none;
}

.conf-box {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.conf-box .reg {
  font-size: 18px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px;
  width: 100px;
  height: 32px;
  text-align: center;
  margin: 5px;
  transition: all 0.2s ease-in-out;
}

.conf-box .reg:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: black;
  color: white;
}

.conf-box .cancle {
  margin: 0;
  font-size: 19px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
  width: 95px;
  height: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.conf-box .cancle:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  background-color: black;
  color: white;
}
