body {
  background-color: rgb(245, 245, 245);
}
.contain {
  width: 100%;
  height: 100%;
}

.box {
  width: 800px;
  height: 700px;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 20px;
  margin: 150px auto;
}

.search-bar-box {
  text-align: right;
  margin-bottom: 15px;
}

.logout-link-box {
  width: 100%;
  height: 30px;
  /* border: 1px solid black; */
  text-align: right;
  margin-bottom: 10px;
}

.logout-link {
  display: inline;
  font-size: 18px;
  color: gray;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.logout-link:hover {
  transition: all 0.5s ease-in-out;
  font-size: 21px;
  color: black;
}

table {
  border: 2px solid black;
  width: 100%;
}

tr,
th,
td {
  text-align: center;
  border: 1px solid black;
  height: 18px;
  padding: 5px;
}

.table-title-box {
  border: 2px solid black;
  font-weight: bold;
}

.num {
  width: 5%;
}

.table-title-box .title {
  text-align: center;
}

.title {
  text-align: left;
  width: 65%;
}

.writer {
  width: 10%;
}

.reg-date {
  width: 10%;
}

.hit {
  width: 10%;
}

.board-list-box {
  width: 100%;
  height: 520px;
  /* border: 1px solid black; */
}

.detail-link {
  color: black;
  text-decoration: none;
}

.page-controller {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 10px 0;
}

.sign {
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 8px;
  font-size: 14px;
}

.reg-box {
  /* border: 1px solid black; */
  text-align: right;
  height: 35px;
  padding: 10px;
}

.border-reg {
  text-decoration: none;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

.border-reg:hover {
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  color: white;
  background-color: rgb(40, 40, 40);
}
